/* 
# ***********************
#       RESET           *
# ***********************
 */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 img{
   width: 100%;
 }

  /* 
# ***********************
#     DEBUG     *
# ***********************
 */
 .bordered{
    border: 2px dashed red;
    min-height: 50px;
 }
 .box-content{
    line-height: 60px;
 }


 /* 
# ***********************
#      LAYOUT       *
# ***********************
 */
 .container{
    margin-left: auto;
    margin-right: auto;
    padding:0 1rem ;
 }
 .row{
    margin-left: -1rem;
    margin-right: -1rem;
 }

 .col{
    padding: 1rem;
 }

 
 /* 
# ***********************
#      SECTIONS        *
# ***********************
 */

 section, footer{
   padding: 3rem 0;
 }
 /* HEADER */
 #header{
     background-color: #0084fd;
     height: 80px;
     line-height: 60px;
    }
    #header > .container{
        display: flex;
        justify-content: space-between;
        padding:0 1rem ;
}
/* INTRO */
  

#intro .card{
    background-color: brown;
    padding: 1rem;
    width: 100%;

}
/* PLANNING PLAN */

#planning{
   background-color:#9792e4;
}
#planning .card{
   padding: 1rem 0;
}
#planning .title{
   margin: 1rem 0;
   color: white;
}

/* TESTIMONIAL */
#testimonial .head-testimonial{
   margin: 10px 0;
   text-align: center;
}
#testimonial .head-testimonial > h3 {
   color: #9792e4;
   margin:15px 0;
}
#testimonial .partners{
   width: 100%;
   margin: 30px 0;
   padding: 10px 10px;
   background-color: #9792e4;
   border-radius: 20px;
}
#testimonial img {
   width: 200px;
   border-radius: 50%;
   aspect-ratio: 1;
}
#citation{
   line-height: 50px;
   margin-top: 20px;
}

/* #BENEFIT */
#benefit{
   background-color: #9792e4;
   padding: 30px 0;
}

#benefit h3 {
   color: white;
   font-size: 1.5rem;
   text-align: center;
}
#benefit .col{
   border-radius: 30px;
   margin: 40px 10px;
}

#benefit .row .col {
   padding: 10px 20px 40px 20px;
   text-align: start;
   background-color: white;
}
#benefit .row .col > * {
   padding: 20px 0;
}

#benefit .row .col h2, #benefit .row .col h3 {
   color: #9792e4;
   font-size: 1.5rem;
}
#benefit .row .col a {
   background-color: #9792e4;
   color: white;
   padding: 5px 15px;
   border-radius: 20px;
   text-decoration: none;
   
}
/* ABOUT */
#about h2{
   color: #9792e4;
   margin: 25px 0;
}
#about p{
   line-height: 40px;
   margin: 30px 0;
}
#about .col:first-child{
   width: 100%;
   margin-bottom: 20px;
   background-color: white;
   border-radius: 20px;
   padding: 10px 20px;
}
#about .col:last-child{
   width: 100%;
}
#about .card .white-boy {
   position: relative;
}
#about .card .white-boy i {
   font-size: 3rem;
   color:#9792e4;
   position: absolute;
   left: 109px;
   top: 0px;
}
#about .card .white-boy img{
   border-radius: 50%;
   width: 150px;
}
#about .col a {
   background-color:#9792e4;
   border-radius: 20px;
   padding: 10px 20px;
   text-decoration: none;
   color: white;
}
#about .fa-linkedin{
   color: white;
}
#help{
   line-height: 35px;
}
/* STARED */
#started{
   background-color: #9792e4;
}
#started .card h3, #started .card h2, #started .card p, #started .card h4 {
   color: white;
   
}
#started .card  h3 {
   font-size: .8rem;
   margin-left: 40%;
   
}

#started .card  h2 {
   font-size: x-large;
   margin-left: 25%;
}

#started .card  h1 {
   color: #fdc15f;
   font-size: 3rem;
   margin-left: 27%;
}
#started .card > a {
   display: block;
   padding: 20px 113px;
   color:#9792e4;
   background-color: white;
   width: 50%;
   margin: 0 auto;
   border-radius: 30px;
   text-decoration: none;
}
#started .card h4{
   margin-left: 10%;
   padding: 15px;
   line-height: 28px;
}
#spacing{
   margin-left: 10%;
   padding: 15px;
   line-height: 28px;
}
/* FOOTER */
footer {
   background-color: #333333;
   width: 100%;
   height: 200px;
   padding: 5px 0;
   text-align: center;
}
footer .card{
   margin: 40px 0; 
   color:white;  
}
footer  a{
   color: #8884cb
}








 /* 
# ***********************
#       RESPONSIVE       *
# ***********************
 */

/* TABLET */
 @media screen and (min-width: 768px) {
    /* INTRO */
    .container{
        max-width: 600px;
    }
    #intro .row{
       display: flex;
       flex-wrap: wrap;
     }
    
     #intro .col{
        display: flex;
        width: calc(100% / 3);
     }
     #intro .col:first-child{
        width: calc(100% / 3 * 2);
     }
     #intro .col:first-child .card{
      display: flex;
     }
     #intro .card > .card-section{
      width: 50%;
     }
     /* PLANNING SECTION */
     #planning .card-a,
     #planning .card-b{
      margin: 0 auto ;
      width: 70%;
     }
    
    /* TESTIMONIAL */
    #testimonial .head-testimonial {
      font-size: 1.2rem;
  }

  #testimonial .head-testimonial h3{
      font-size: 1.6rem;
  }

  #testimonial .partners {
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
  }

  #testimonial .testimon {
      width: 74%;
  }
/* BENEFIT */
#benefit .col {
   width: calc(100% / 2 - 20px);
}

#benefit > h3 {
   font-size: 2rem;
}

#benefit .row {
   display: flex;
   flex-wrap: wrap;

}

#benefit .row .col h2 {
   font-size: 3rem;
}
/* ABOUT */
#about .col:first-child{
   width: 60%;
}
#about .col:last-child{
   width: 40%;
}
#about .row{
   display: flex;
 }
/* STARTED */
#started .card {
   width: 80%;
   margin: 0 auto;
}

#started .card h4 > a {
   width: 80%;
   
}


}


/* DESKTOP */
 @media screen and (min-width: 1000px){
    .container{
        max-width: 1140px;
    }
    /* PLANNING SECTION */
    #planning .row{
      display: flex;
      
     }
     /* BENEFIT */
     #benefit .col {
      width: calc(100% / 3 - 20px);
  }

      #benefit > h3 {
      font-size: 2.5rem;
  }
     /*STARTED */
     #started .card {
      width: 50%;
      margin: 0 auto;
  }

      #started .card h1 {
      font-size: 3.5rem;
  }

      #started .card h4 > a {
      width: 85%;
  }


 }
 
 
 
 
 

