/* 
# ***********************
#       RESET           *
# ***********************
 */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

  /* 
# ***********************
#     DEBUG     *
# ***********************
 */
 .bordered{
    border: 2px dashed red;
    min-height: 50px;
 }
 .box-content{
    line-height: 80px;
 }


 /* 
# ***********************
#      LAYOUT       *
# ***********************
 */
 .container{
    margin-left: auto;
    margin-right: auto;
    padding:0 1rem ;
 }
 .row{
    margin-left: -1rem;
    margin-right: -1rem;
 }

 .col{
    padding: 1rem;
 }

 
 /* 
# ***********************
#      SECTIONS        *
# ***********************
 */

 /* HEADER */
 #header{
     background-color: #0084fd;
     height: 80px;
     line-height: 60px;
    }
    #header > .container{
        display: flex;
        justify-content: space-between;
        padding:0 1rem ;
}
/* INTRO */
  

#intro .card{
    background-color: brown;
    padding: 1rem;
    width: 100%;

}


 /* 
# ***********************
#       RESPONSIVE       *
# ***********************
 */

/* TABLET */
 @media screen and (min-width: 768px) {
    /* INTRO */
    .container{
        max-width: 600px;
    }
    #intro .row{
       display: flex;
       flex-wrap: wrap;
     }
    
     #intro .col{
        display: flex;
        width: calc(100% / 3);
     }
     #intro .col:first-child{
         display: flex;
        width: calc(100% / 3 * 2);
     }
     #intro .card > .card-section{
      width: 50%;
     }

 }


/* DESKTOP */
 @media screen and (min-width: 1000px){
    .container{
        max-width: 1140px;
    }
 }